[Unit]
Description=Telegram Bot [@RadiamBot]
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/www/code/radiam/
ExecStart=/home/www/code/radiam/venv/bin/python .
Restart=always

[Install]
WantedBy=multi-user.target
